{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block page_content %}
<script src="{{url_for('static', filename='jquery-3.3.1.js')}}"></script>
<script src="{{url_for('static', filename='highcharts.js')}}"></script>
<h2>欢迎来到AI House</h2>
<div id="everyday_trans" style="width:100%; height:600px;"></div>
<div id="everyweek_trans" style="width:100%; height:600px;"></div>
<div id="day30_trans" style="width:100%; height:600px;"></div>
<div id="everyday_verify" style="width:100%; height:600px;"></div>
<div id="everyweek_verify" style="width:100%; height:600px;"></div>

{% autoescape false %}
<script>
    $(function () {
        var myChart = Highcharts.chart('everyday_trans', {
            chart: {
                type: 'line'
            },
            legend: {
                layout: 'vertical',

            },
            title: {
                text: '每日网签数据'
            },
            xAxis: {
                categories: ['2018/4/6']
            },
            yAxis: {
                title: {
                    text: '网签量'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                },
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                name: '住宅签约',
                data: [39]
            }]
        });
    });
    $(function () {
        var myChart = Highcharts.chart('everyday_verify', {
            chart: {
                type: 'line'
            },
            legend: {
                layout: 'vertical',

            },
            title: {
                text: '每日核验数据'
            },
            xAxis: {
                categories: ['2018/4/6']
            },
            yAxis: {
                title: {
                    text: '核验量'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                },
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                name: '住宅核验',
                data: [0]
            }]
        });
    });
    $(function () {
        var myChart = Highcharts.chart('day30_trans', {
            chart: {
                type: 'line'
            },
            legend: {
                layout: 'vertical',

            },
            title: {
                text: '30日均网签数据'
            },
            xAxis: {
                categories: ['2018/4/6']
            },
            yAxis: {
                title: {
                    text: '30日均网签量'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                },
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                name: '住宅网签',
                data: [367]
            }]
        });
    });
    $(function () {
        var myChart = Highcharts.chart('everyweek_trans', {
            chart: {
                type: 'column'
            },
            legend: {
                layout: 'vertical',

            },
            title: {
                text: '每周网签数据'
            },
            xAxis: {
                categories: ['2018/4/2-2018/04/06']
            },
            yAxis: {
                title: {
                    text: '网签量'
                }
            },
            plotOptions : {
                column:{
                    dataLabels:{
                        enabled: true,
                    }
                }
            },
            series: [{
                name: '住宅签约',
                data: [2171]
            }]
        });
    });
    $(function () {
        var myChart = Highcharts.chart('everyweek_verify', {
            chart: {
                type: 'column'
            },
            legend: {
                layout: 'vertical',

            },
            title: {
                text: '每周核验数据'
            },
            xAxis: {
                categories: ['2018/4/2-2018/04/06']
            },
            yAxis: {
                title: {
                    text: '核验量'
                }
            },
            plotOptions : {
                column:{
                    dataLabels:{
                        enabled: true,
                    }
                }
            },
            series: [{
                name: '住宅签约',
                data: [2090]
            }]
        });
    });

</script>
{% endautoescape %}

{% endblock %}
{% block script %}


{% endblock %}
