{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block page_content %}
<script src="{{url_for('static', filename='jquery-3.3.1.js')}}"></script>
<script src="{{url_for('static', filename='highcharts.js')}}"></script>
<h2>欢迎来到AI House</h2>
<div id="lianjia_statistic1" style="width:100%; height:600px;"></div>
<div id="lianjia_statistic2" style="width:100%; height:600px;"></div>
<div id="day30_trans" style="width:100%; height:600px;"></div>
<div id="everyday_verify" style="width:100%; height:600px;"></div>
<div id="everyweek_verify" style="width:100%; height:600px;"></div>

{% autoescape false %}
<script>
    $(function () {
        var myChart = Highcharts.chart('lianjia_statistic1', {
            chart: {
                type: 'line'
            },
            legend: {
                layout: 'vertical',

            },
            title: {
                text: '链家每日成交数据'
            },
            xAxis: {
                categories: ['2018/4/10', '2018/4/11', '2018/4/12', '2018/4/13', '2018/4/14', '2018/4/15', '2018/4/16', '2018/4/17', '2018/4/18', '2018/4/19', '2018/4/20', '2018/4/21', '2018/4/22', '2018/4/23', '2018/4/24', '2018/4/25', '2018/4/26']
            },
            yAxis: {
                title: {
                    text: '网签量'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                },
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                name: '住宅签约',
                data: [164, 255, 222, 187, 171, 218, 257, 184, 309, 319, 241, 152, 230, 367, 271, 405, 323]
            },{
                name: '新增房源',
                data: [816, 1160, 1050, 954, 1136, 1224, 857, 803, 1011, 1059, 986, 757, 1021, 889, 780, 1088, 1057]
            },{
                name: '新增顾客',
                data: [2820, 3861, 4043, 3892, 6048, 6047, 2807, 2672, 3699, 3974, 4089, 3666, 5468, 3169, 2937, 3998, 4000]
            }]
        });
    });
    $(function () {
        var myChart = Highcharts.chart('lianjia_statistic2', {
            chart: {
                type: 'line'
            },
            legend: {
                layout: 'vertical',

            },
            title: {
                text: '链家每日成交数据'
            },
            xAxis: {
                categories: ['2018/4/10', '2018/4/11', '2018/4/12', '2018/4/13', '2018/4/14', '2018/4/15', '2018/4/16', '2018/4/17', '2018/4/18', '2018/4/19', '2018/4/20', '2018/4/21', '2018/4/22', '2018/4/23', '2018/4/24', '2018/4/25', '2018/4/26']
            },
            yAxis: {
                title: {
                    text: '网签量'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                },
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                name: '新增带看',
                data: [5992, 9396, 9870, 6093, 39169, 34879, 6371, 6116, 8568, 9695, 10416, 16180, 30694, 7161, 6942, 9960, 10932]
            },{
                name: '在售房源',
                data: [35384, 35544, 35738, 36081, 36037, 35760, 35801, 35852, 36212, 36594, 36846, 36799, 36574, 36682, 36626, 36679, 36781]
            },{
                name: '近90天交易',
                data: [19640, 19732, 19811, 19703, 19579, 19546, 19473, 19437, 19557, 19706, 19631, 19434, 19377, 19995, 20399, 20956, 21207]
            }]
        });
    });

</script>
{% endautoescape %}

{% endblock %}
{% block script %}


{% endblock %}
