{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block page_content %}
<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<h2>欢迎来到AI House</h2>
<div id="everyday" style="width:100%; height:600px;"></div>
{% autoescape false %}
<script>
    $(function () {
        var myChart = Highcharts.chart('everyday', {
            chart: {
                type: 'line'
            },
            legend: {
                layout: 'vertical',

            },
            title: {
                text: '每日核验数据'
            },
            xAxis: {
                categories: {{date}}
            },
            yAxis: {
                title: {
                    text: '核验'
                }
            },
            plotOptions : {
                line:{
                    dataLabels:{
                        enabled: true,
                    }
                }
            },
            series: [{
                name: '住宅签约',
                data: {{num}}
            },{
                name: '网上签约',
                data: {{num_all}}
            }]
        });
    });
</script>
{% endautoescape %}

{% endblock %}
{% block script %}


{% endblock %}
